/* -- settings modal -- */
@media only screen and (min-width: 768px) and (min-height: 600px) {
  .settings-modal,
  .settings-modal .ion-overlay-wrapper {
    --width: 800px;
    --height: 600px;
    --border-radius: 8px;
  }
}

.settings-modal::part(content) {
  min-width: var(--parsec-modal-width-lg);
  --height: 600px;
}
